* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Caviar-Dreams';
    src: url(../font/Caviar-Dreams/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar-Dreams';
    src: url(../font/Caviar-Dreams/Caviar_Dreams_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    /* background-image: url(../image/PINK.jpeg);
    background-position: center top; */
    background-color: rgb(223, 218, 211);
    font-family: 'Caviar-Dreams';
}

.container {
    width: 75%;
    height: 92vh;
    border-radius: 20px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: -4px 5px 12px 1px rgb(0 0 0 / 40%);
    position: relative;
    overflow: hidden;
}

.databox {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 60px;
    margin-top: 120px;
}

.databox h1 {
    font-size: 50px;
    /* text-shadow: 2px 2px 2px rgb(0,0,0,0.4); */
    font-family: 'Caviar-Dreams';
    color: brown;
    margin-bottom: 10px;
}

.socialAuth {
    padding: 10px;
}

.socialAuth p {
    font-size: 20px;
    margin: 5px;
    color: gray;
}

.socialAuth a {
    width: 40px;
    height: 40px;
    border: 2px solid brown;
    border-radius: 50%;
    padding: 8.5px;
    display: inline-block;
    color: brown;
    margin: 10px;
    transition: 0.5s;
}

.socialAuth a:hover {
    color: #fff;
    background-color: brown;
}

.socialAuth .msg {
    margin-top: 20px;
}
.databox input {
    width: 65%;
    height: 40px;
    padding: 15px;
    background-color: #ebd5eb;
    border: none;
    display: block;
    margin: 20px auto;
}
#form a {
    margin-top: 25px;
    display: block;
    text-decoration: none;
}
#form button {
    background-color: brown;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    margin: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.logo {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    float: left;
    background-image: url(../image/llogo);
    background-position: center right;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: -5.6%;
}